<div class="form_container">
  <form class="form" action="https://formspree.io/f/xnqleleb" method="post">
    <label class="form__label" for="name"
      >Nombre completo <span class="star">*</span></label
    >
    <input
      class="form__input"
      type="text"
      id="name"
      name="name"
      placeholder="Nombre..."
      pattern="^[a-zA-Z]{1-50}$"
      required
    />
    <div class="div-ajust">
      <label class="form__label div-ajust__email" for="mail"
        >Email <span class="star">*</span></label
      >
      <input
        class="form__input div-ajust__input-email"
        type="email"
        id="mail"
        name="mail"
        placeholder="nombre.apellidos@mail.com"
        required
      />

      <label class="form__label div-ajust__tel" for="phone">Teléfono</label>
      <input
        class="form__input div-ajust__input-tel"
        type="tel"
        id="phone"
        name="phone"
        placeholder="Ej: 123456789"
        pattern="^[0-9]{9}$"
      />
    </div>
    <label class="form__label" for="message"
      >Mensaje <span class="star">*</span>
    </label>
    <textarea
      class="form__input form__input--textArea"
      name="message"
      id="message"
      cols="30"
      rows="10"
      placeholder="¿Qué necesitas?"
      required
    ></textarea>
    <div class="div-boton">
      <input class="form__input--btn" type="submit" value="enviar" />
    </div>
  </form>
</div>
