<header class="header" id="header">
  <div class="container_nav">
    <h1 class="nombre_header"><a href="#header" class="four">Las 4 fantásticas</a></h1>
    <nav>
      <ul class="ul_nav_header">
        <li class="menu_ul_nav_header">
          <a href="#Equipo">Equipo</a>
        </li>
        <li class="menu_ul_nav_header">
          <a href="#Quienes_Somos">Quienes somos</a>
        </li>
        <li class="menu_ul_nav_header">
          <a href="./contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="conteiner_img">
    <div class="img-hero"></div>
    <div class="rectangulo">
      <p class="lema">
        Bajo la lluvia, sol y sereno, junto a GitHub siempre lucharemos
      </p>
    </div>
  </div>
</header>