<section class="section-team" id="Equipo">
  <h2 class="section-team-title">Equipo</h2>
  <p class="section-team-text team-text-1">
    Llegadas de diferentes puntos del planeta y especializadas en muy diversos campos, nada parecía presagiar que nuestro destino acabaría por juntarnos.
  </p>
  <p class="section-team-text section-team-text-2">
    Amparadas por la organización secreta Adalab y movidas por el sueño de reinventarnos, unimos nuestras fuerzas con la misión de convertirnos en las mejores programadoras del universo. No será fácil, pero... ¡nada es imposible si estás decidida a lograrlo!
  </p>
</section>

<section class="section-str-weak">
  <div class="section-str-weak-square"></div>
  <section class="section-force">
    <section class="strengths">
      <h3 class="str-weak-title strengths-title">Fortalezas</h3>
      <p class="str-weak-text strengths-text">
        Luchadoras, incansables y con un fuerte compromiso por el trabajo bien hecho. Siempre dispuestas a echarnos una mano entre nosotras, ya que en la unión nace la fuerza y en nuestro caso no podría ser más verdad.
      </p>
    </section>
    <section class="weakness">
      <h3 class="str-weak-title weakness-title">Debilidades</h3>
      <p class="str-weak-text weakness-text">
        La presión y el tiempo pueden convertirse en tu peor enemigo, si a esto le sumas que estamos ante nuestra primera misión, el resultado podría haber sido catastrófico. Pero contábamos con dos grandes aliados: la comunicación y las ramas de GitHub.
      </p>
    </section>
  </section>
</section>
