<div class="container_who_we_are" id="Quienes_Somos">
  <section class="who_we_are">
    <h2 class="who_we_are__title">Quiénes somos</h2>

    <include
      src="./who_we_are.html"
      classMember="who_we_are__member1"
      img="ana_pre.png"
      imgHero="AnaWW.jpg"
      alt="Fotografía de Ana"
      classSection="who_we_are__member1--info"
      name="Ana de la Jara"
      description=" Después de años como agente de viajes, decidí dar un cambio radical y estudiar para ser futura programadora, si css me lo permite."
      linkTwitter="https://twitter.com/anita83_"
      linkLinkedin="https://www.linkedin.com/in/ana-de-la-jara/"
      linkGithub="https://github.com/AnadelaJara"
      linkMail="mailto:anadelajara@gmail.com"
    ></include>

    <include
      src="./who_we_are.html"
      classMember="who_we_are__member2"
      img="mariana_pre.png"
      imgHero="mariana.jpg"
      alt="Fotografía de Mariana"
      classSection="who_we_are__member2--info"
      name="Mariana Viana"
      description="Un nuevo pais, un nuevo comienzo y que es mejor que reinventarse, de cuentas y números a código y acertijos."
      linkTwitter="https://twitter.com/vianam92"
      linkLinkedin="https://www.linkedin.com/in/mariana-viana-rodriguez-19871a195/"
      linkGithub="https://github.com/vianam92"
      linkMail="mailto:vianarodriguezm@gmail.com"
    ></include>

    <include
      src="./who_we_are.html"
      classMember="who_we_are__member3"
      img="sandra_pre.png"
      imgHero="sandraM1.jpg"
      alt="Fotografía de Sandra"
      classSection="who_we_are__member3--info"
      name="Sandra Gutiérrez"
      description=" Pedagoga de profesión pero con el html en las venas. Tras años luchando en las trincheras de un sistema educativo moribuno, decidí cambiar las adaptaciones curriculares por una misión trascendental: encontrar el merge perfecto."
      linkTwitter="https://twitter.com/SandSan12"
      linkLinkedin="https://www.linkedin.com/in/sandraguti%C3%A9rrez/"
      linkGithub="https://github.com/Sandra-Gutierrez"
      linkMail="mailto:sandsan12@gmail.com"
    ></include>

    <include
      src="./who_we_are.html"
      classMember="who_we_are__member4"
      img="sara_pre.png"
      imgHero="profile-sara.jpg"
      alt="Fotografía de Sara"
      classSection="who_we_are__member4--info"
      name="Sara Palomo"
      description=" Doctora en ecología especializada en agroecología empezando una nueva y emocionante etapa. Si necesitas una programadora front-end junior que además sepa sobre plagas del tomate, soy tu heroína. ¡De los huertos a los DevTools!"
      linkTwitter="https://twitter.com/sarapalcam"
      linkLinkedin="https://www.linkedin.com/in/sara-palomo-campesino-4275b2117/"
      linkGithub="https://github.com/sarapalcam"
      linkMail="mailto:sara.pal.cam@gmail.com"
    ></include>
  </section>
</div>
