<article class="@@classMember">
  <img src="./assets/images/@@img" alt="@@alt" class="member_img" />
  <img src="./assets/images/@@imgHero" alt="@@alt" class="member_img_hero" />
  <section class="@@classSection">
    <h4 class="member_title">@@name</h4>
    <p class="p">@@description</p>
    <ul class="ul_rrss">
      <li>
        <a href="@@linkTwitter" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li class="separador_punto">
        <a href="@@linkLinkedin" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </li>
      <li class="separador_punto">
        <a href="@@linkGithub" target="_blank"
          ><i class="fab fa-github-alt"></i
        ></a>
      </li>
      <li class="separador_punto">
        <a href="@@linkMail" target="_blank"><i class="fas fa-envelope"></i></a>
      </li>
    </ul>
  </section>
</article>
