/***************************
  *** #4 Home Main Section 1. ***
  ****************************/
.section-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: relative;
  width: 100%;
  margin-top: 30px;
  &-title {
    font-family: "Rubik", sans-serif;
    color: #14d9c4;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 40px 0 15px 0;
    height: 45px;
    line-height: 45px;
  }
  &-text {
    font-family: "OpenSans", sans-serif;
    color: #54585a;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  &-text-2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media all and (min-width: 768px) {
    padding: 0 45px 44px 45px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/***FIN Home Main Section 1***/

/***************************
    *** #5 Home Main Section 2. ***
    ****************************/

.section-str-weak {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 30px 15px;
  width: 100%;
  &-square {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    align-self: center;
    transform: translate(0, -150%) rotate(45deg);
  }
  @media all and (min-width: 768px) {
    padding-left: 45px;
    padding-right: 45px;
  }
}
.strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    padding-right: 50px;
  }
}

.str-weak-title {
  font-family: "Rubik", sans-serif;
  color: #099d8d;
  font-size: 24px;
  font-weight: 500;
  height: 45px;
  line-height: 45px;
  @media all and (min-width: 768px) {
    padding: 0 12px 15px 0;
  }
}
.str-weak-text {
  font-family: "OpenSans", sans-serif;
  color: #54585a;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 15px;
  @media all and (min-width: 768px) {
    max-width: 388px;
  }
}
.weakness {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    margin-top: 0;
    padding-left: 50px;
  }
}

@media all and (min-width: 768px) {
  .section-force {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .section-force {
    margin: 0 auto;
  }
}
